@charset "UTF-8";


#mod_article{
	color: #006db8;
    padding: 20px 7%;
    max-width: 860px;
	width:100%;
	margin:0 auto;
}

#mod_article .articleInner{
	margin: 0 auto;
    /*width: 760px;*/
	padding: 60px 0;
}


#mod_article .articleInner .divider{
	margin:50px 0;
	background:none;
}



/* mod */

h1.m_topicTtl{
	font-size:32px;
	margin-bottom:50px;
}


.m_exText{
	font-size:18px;
	line-height:34px;
	padding:3%;
	background:#eee;
	width:100%;
	margin:25px 0;
}

.m_articleTxt{
	font-size:18px;
	line-height:34px;
	color:#666;
	width:100%;
	margin-bottom:50px;
}

.m_articleTxt span{
	background:#ECE953;
}


/* QA */

.m_articleFAQ{
	border:8px solid #eee;
	padding:5%;
	width:100%;
}

h3.m_articleQ{
	font-size:20px;
	line-height:1.6;
	margin-bottom:15px;
}
.m_articleFAQ p:last-child{
	margin:0
}

.m_articleQAns{
	font-size:18px;
	line-height:1.6;
	color:#666;
	margin-bottom:50px;
}

.m_pageLnk{
	text-align:center;
	width:100%;
}

.m_pageLnk a{
	font-size:16px;
	background:url(../images/article_delta.png)no-repeat left center;
	padding:13px 36px 12px 26px;
	color:#09F;
	text-decoration:underline;
	margin:3% 0;
	-moz-background-size:16px auto;
	-webkit-background-size:16px auto;
	-o-background-size:16px auto;
	-ms-background-size:16px auto;
}


.m_articleChart{
	width:760px;
	margin:0 auto;
	border:#CCC 1px solid;
}

.m_articleChart table{
	width:100%;
}

.m_articleChart tr td {
    border: 1px solid #c9c9c9;
    line-height: 22px;
    padding: 17px 26px;
	width: 33.333%;
	color:#666;
}
.m_articleChart tr td:first-child {
    width: 33.333%;
	background:#eee;
}
.m_articleChart tr td p:not(:last-child) {
    padding-bottom: 30px;
}



h2.m_articleTtl1{
	font-size:24px;
	color:#000;
	margin-bottom:35px;
}

h3.m_articleTtl2{
	font-size:20px;
	color:#E60012;
	margin-bottom:50px;
}

h4.m_articleTtl3{
	font-size:18px;
	margin-bottom:15px;
}
}

@media screen and (min-width: 780px) and (max-width: 870px) {
}
@media screen and (min-width: 720px) and (max-width: 1000px) {
}
@media screen and (min-width: 781px) and (max-width: 1000px) {
}
@media screen and (max-width: 780px) {

#mod_article{
	width:100%;
	margin-top:120px;
	padding:52px 7.14286% 80px;
}

#mod_article .articleInner{
	width:100%;
	/*padding:0 3.14286%;*/
}

h1.m_topicTtl{
	font-size:24px;
	margin-bottom:50px;
}


.m_exText{
	font-size:15.5px;
	line-height:1.75em;
	padding:5%;
	width:100%;
	margin:25px 0;
}

.m_articleTxt{
	font-size:15.5px;
	line-height:1.75em;
	width:100%;
	margin-bottom:50px;
}

.m_articleTxt span{
	background:#ECE953;
}


/* QA */

.m_articleFAQ{
	border:none;
	border-top:8px solid #eee;
	border-bottom:8px solid #eee;
	padding:30px 0 30px;
	width:100%;
}

h3.m_articleQ{
	font-size:18px;
	line-height:1.6;
	margin-bottom:15px;
}
.m_articleFAQ p:last-child{
	margin:0
}

.m_articleQAns{
	font-size:15.5px;
	line-height:1.6;
	color:#666;
	margin-bottom:50px;
}

.m_pageLnk{
	text-align:center;
	width:100%;
}

.m_pageLnk a{
	padding:13px 20px 12px 24px;
}


.m_articleChart{
	width:100%;
	margin:0 auto;
	border:#CCC 1px solid;
}

.m_articleChart table{
	width:100%;
}

.m_articleChart tr td {
    border: 1px solid #c9c9c9;
    line-height: 1.75em;
    padding: 6px 10px;
	width: 33.333%;
}
.m_articleChart tr td:first-child {
    width: 33.333%;
}
.m_articleChart tr td p:not(:last-child) {
    padding-bottom: 30px;
}



h2.m_articleTtl1{
	font-size:20px;
	margin-bottom:35px;
}

h3.m_articleTtl2{
	font-size:18px;
	margin-bottom:50px;
}

h4.m_articleTtl3{
	font-size:15.5px;
	margin-bottom:15px;
}





}