@charset "UTF-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1;
  font-size: 14px;
  color: #333;
  background: #fff;
  word-wrap: break-word;
  letter-spacing: 0.1em;
}

/* fadein css seting */
body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fadeincss seting */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
}

img, input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #187BBF;
  color: #fff;
}

:hover {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

:focus {
  outline: 0;
}

vlink {
  color: inherit;
}

small {
  font-size: 80%;
}

a img {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

a img:hover {
  opacity: 0.6;
}

.container::after, .listItems::after, .main-body::after, .areaTopic .containerTopic li a::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.wraper {
  margin: 0 auto;
}

/* -------------- Config -------------- */
.is_mb {
  display: none !important;
}

.is_tb {
  display: none !important;
}

.is_pc {
  display: inherit !important;
}

.clearfix {
  clear: both;
  display: block;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.btnMain {
  display: block;
  max-width: 290px;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  border: 3px solid #62BDF9;
  color: #62BDF9;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 0;
}

.btnMain:before {
  content: "\f105";
  font-size: 28px;
  font-family: "FontAwesome";
  position: absolute;
  top: 11px;
  right: 12px;
}

.btnMain:hover {
  background: #62BDF9;
  color: #fff110;
}

.titleSection {
  text-transform: uppercase;
  color: #006db8;
  font-size: 30px;
  text-align: center;
  line-height: 34px;
}

.titleSection a {
  color: #006db8;
}

.titleSection img {
  margin: auto;
  max-width: 100%;
}

.nameSection {
  text-align: center;
  font-size: 20px;
  line-height: 33px;
}

.nameSection img {
  margin: auto;
  max-width: 100%;
}

.titleItems {
  font-size: 16px;
}

.noteItems {
  line-height: 23px;
  color: #2e2e2e;
}

.wrapWipe {
  display: block;
  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.wrapWipe > .table {
  margin-bottom: 0;
}

.wrapWipe > .table > tbody > tr > td,
.wrapWipe > .table > tbody > tr > th,
.wrapWipe > .table > tfoot > tr > td,
.wrapWipe > .table > tfoot > tr > th,
.wrapWipe > .table > thead > tr > td,
.wrapWipe > .table > thead > tr > th {
  white-space: nowrap;
  background: #000;
}

.wrapWipe > .table > thead > tr > th {
  font-weight: bold;
}

/* Fade effect */
.effect i {
  height: 120px;
  padding: 20px;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.effect div {
  margin: auto;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

/* hamberger Format */
.headerMenu .menu-trigger,
.headerMenu .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headerMenu .menu-trigger {
  position: relative;
  width: 64px;
  height: 64px;
}

.headerMenu .menu-trigger span {
  position: absolute;
  left: 13px;
  width: 38px;
  height: 4px;
  background-color: #006DB8;
  border-radius: 4px;
}

.headerMenu .menu-trigger span:nth-of-type(1) {
  top: 15px;
}

.headerMenu .menu-trigger span:nth-of-type(2) {
  top: 30px;
}

.headerMenu .menu-trigger span:nth-of-type(3) {
  bottom: 15px;
}

/* hamberger Tranceform */
.headerMenu .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}

.headerMenu .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.headerMenu .menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

/* zoom scale setings */
.scale {
  overflow: hidden;
}

.scale img {
  -moz-transition: -moz-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.scale img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

.h_sTtl {
  letter-spacing: .35em;
}

/*====================================
            Helper
=====================================*/
.inline {
  display: inline !important;
}

.resetH {
  height: inherit !important;
}

.red {
  color: red;
}

.tac {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pd_top_40 {
  padding-top: 40px;
}

.pd_top_160 {
  padding-top: 160px;
}

.mgr_b_110 {
  margin-bottom: 110px !important;
}

.noIcon:before {
  content: "";
}

/*====================================
            basic
====================================*/
.main-body {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: auto;
}

.contentLeft {
  max-width: 1043px;
  width: 100%;
  float: left;
}

.contentRight {
  position: fixed;
  float: left;
  right: 0;
  top: 0;
  border-left: 1px solid #d2d2d2;
  background: #62bdf9;
}

.contentRight .contentRightIn {
  top: 80px;
  bottom: 30px;
}

.divider {
  border-top: #D2D2D2 solid 1px;
  margin: 30px 0;
}

/*====================================

            headerMenu
=====================================*/
.headerMenu {
  width: 100%;
  padding-top: 0;
  padding-left: 0;
  position: fixed;
  left: 0;
  z-index: 100;
}

.headerMenu .btnToggle {
  background: #fff;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.headerMenu .btnToggle img {
  max-width: 70%;
}

.headerMenu .btnToggle.active {
  margin-left: 20%;
}

.headerlogo {
  padding-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.navMainforSP {
  background: #FFF;
}

.navMainforSP li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #006db8;
  color: #006db8;
}

.navMainforSP li a:hover {
  background: rgba(0, 109, 184, 0.3);
}

.navMainforSP li.active a {
  color: #fff;
  background: #006db8;
}

.navMain {
  background: #FFF;
  border-right: 1px solid #D9EEFD;
  position: fixed;
  top: 0;
  left: -20%;
  width: 20%;
  z-index: 9999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navMain.active {
  left: 0;
}

.navMain ul {
  height: 100vh;
}

.navMain > ul > li {
  position: relative;
}

.navMain li {
  background: url("../images/arrow_nav_off.png") no-repeat 96% 50%;
}

.navMain li:hover {
  cursor: pointer;
  background: rgba(98, 189, 249, 0.3) url("../images/arrow_nav.png") no-repeat 96% 50%;
  color: #006DB8;
}

.navMain li a {
  display: block;
  padding: 25px 20px 24px 20px;
  border-bottom: 1px solid #D9EEFD;
  color: #006db8;
  background: url("../images/arrow_nav.png") no-repeat 96% 50%;
}

.navMain li.active a {
  background: #62BDF9 url("../images/arrow_nav.png") no-repeat 96% 50%;
  color: #fff110;
}

.navMain li:hover .subNavL3 {
  display: block;
}

.navMain .subNavL3 {
  display: none;
  position: absolute;
  top: 0;
}

.navMain .subNavL3 li {
  top: -1px;
  left: 0;
  border-right: 1px solid #B8E0FC;
  position: relative;
  background: #fff url("../images/arrow_nav.png") no-repeat 96% 50%;
}

.navMain .subNavL3 li:first-child {
  border-top: 1px solid #B8E0FC;
}

.navMain .subNavL3 li.activeSub a {
  background: #62BDF9 url("../images/arrow_nav.png") no-repeat 96% 50% !important;
  color: #fff110;
}

.navMain .subNavL3 li a {
  width: 266px;
  padding: 25px 20px 24px 20px;
  color: #006db8;
  background: #fff url("../images/arrow_nav_off.png") no-repeat 96% 50%;
}

.navMain .subNavL3 li a:hover {
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
  transition: all 0ms;
  background: rgba(98, 189, 249, 0.3);
}

/*====================================
        areaAbout
=====================================*/
.areaAbout .listItems {
  padding: 10px;
}

.areaAbout .titleSection {
  padding-bottom: 60px;
}

.areaAbout .titleSection a {
  color: #006db8;
}

.areaAbout .items {
  line-height: 34px;
  font-size: 18px;
  color: #006db8;
  text-align: justify;
  border-left: 3px solid #fff;
  float: left;
  width: 50%;
  background: #eeeeee;
  padding: 5%;
}

.areaAbout .items:first-child {
  border-right: 3px solid #fff;
}

.areaAbout .items .avatar {
  text-align: center;
}

.areaAbout .items .descript {
  padding-bottom: 55px;
}

.areaAbout .items .three_div {
  margin: auto;
}

.areaAbout .btnAbout {
  margin-top: 17px;
  display: block;
  text-align: center;
}

.three_div {
  line-height: 34px;
}

/*====================================
        areaInfo
=====================================*/
.areaInfo {
  padding: 180px 0 150px;
}

.areaInfo .titleSection {
  padding-bottom: 60px;
}

.areaInfo .titleSection a {
  color: #006db8;
}

.areaInfo .descript {
  font-size: 18px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  color: #006db8;
  line-height: 34px;
  padding-bottom: 70px;
}

.areaInfo .btnNoname {
  display: block;
  text-align: center;
}

/*====================================
        areaTopic
=====================================*/
.areaTopic {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 80px 0 65px;
}

.areaTopic a {
  color: #272727;
}

.areaTopic .btnDetail {
  line-height: 34px;
}

.areaTopic .containerTopic {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

.areaTopic .containerTopic .day {
  padding-right: 30px;
  float: left;
}

.areaTopic .containerTopic .nameTopic {
  float: left;
}

.areaTopic .containerTopic .new {
  position: absolute;
  left: -65px;
}

.areaTopic .containerTopic ul {
  padding-bottom: 10px;
}

.areaTopic .containerTopic li {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 10px;
}

.areaTopic .containerTopic li.active .day,
.areaTopic .containerTopic li.active .nameTopic {
  color: red;
  text-decoration: underline;
}

.areaTopic .containerTopic li:hover .day,
.areaTopic .containerTopic li:hover .nameTopic {
  color: red;
  text-decoration: underline;
}

.areaTopic .linkDetail {
  text-align: right;
  padding-top: 45px;
}

.areaTopic .linkDetail a {
  font-size: 16px;
  text-decoration: underline;
  color: #006db8;
}

.areaTopic .linkDetail .btnMain {
  text-decoration: none;
}

.areaTopic .linkDetail .btnMain:before {
  content: "";
}

.areaTopic .linkDetail .btnMain:hover {
  color: #fff;
  background: #006db8;
}

/*====================================
    areaListAbout
=====================================*/
.areaListAbout {
  padding: 65px 0 72px;
}

.areaListAbout .listItems {
  margin: 0 -20px;
  text-align: center;
}

.areaListAbout .listItems:not(:first-child) {
  padding-top: 40px;
  text-align: center;
}

.areaListAbout .listItems a {
  color: #006db8;
}

.areaListAbout .listItems a:hover .descript {
  color: red;
  text-decoration: underline;
}

.areaListAbout .items {
  padding: 0 20px;
  width: 24%;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.areaListAbout .avatar img {
  width: 100%;
}

.areaListAbout .descript {
  padding-top: 15px;
  line-height: 1.2;
}

.areaListAbout .descript a {
  color: #006db8;
}

/*
	Contact Page
------------------------------------------*/
.contactIntroL {
  text-align: center;
}

.contactIntroR {
  float: left;
  padding-left: 12px;
}

.areaContact {
  background: #f6f6f6;
  margin-bottom: 100px;
  max-width: 1000px;
  margin: auto;
  padding: 0px 24px;
}

.areaContact:first-child {
  padding: 20px 24px;
}

.areaContact:not(:first-child) {
  margin-top: 3px;
}

.areaContact .blockTitle {
  padding: 80px 0 0px 0;
  background: #fff;
}

.areaContact .areaText01 {
  padding: 30px 7% 60px;
}

.areaContact .areaText01 p {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.areaContact .formBox {
  max-width: 840px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 55px 0 45px 0;
}

.areaContact .formBox .pd_t_40 {
  padding-top: 40px !important;
}

.areaContact .tableFormBox {
  width: 100%;
  padding: 50px 0 40px 0;
}

.areaContact .tableFormBox .vTop {
  padding-top: 30px;
  vertical-align: top;
}

.areaContact .tableFormBox .twoCol input {
  width: 288px;
}

.areaContact .tableFormBox tr td {
  font-size: 18px;
  line-height: 1.4;
  vertical-align: middle;
}

.areaContact .tableFormBox tr td:first-child {
  width: 192px;
  color: #006db8;
  font-size: 18px;
}

.areaContact .tableFormBox tr td:last-child {
  padding: 15px 0;
}

.areaContact .tableFormBox tr td.check {
  position: relative;
}

.areaContact .tableFormBox tr td.check:after {
  content: "";
  position: absolute;
  right: 18px;
  top: 26px;
  background: url("../images/check.png");
  width: 17px;
  height: 17px;
}

.areaContact .tableFormBox tr td.must {
  position: relative;
}

.areaContact .tableFormBox tr td.must:after {
  content: "必 須";
  position: absolute;
  right: 0;
  top: 26px;
  background: #e60012;
  color: #fff;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 3px;
}

.areaContact .tableFormBox tr td.must.top:after {
  top: 18px;
}

.areaContact .tableFormBox tr td .note1 {
  font-size: 14px;
}

.areaContact .tableFormBox tr td .note2 {
  margin-left: 25px;
  border-radius: 3px;
  padding: 8px 15px 10px 15px;
  display: inline-block;
  background: #006db8;
  color: #fff;
}

.areaContact .tableFormBox *::-webkit-input-placeholder {
  color: #999;
}

.areaContact .tableFormBox input {
  font-size: 16px;
  border: 3px solid #eeeeee;
  max-width: 570px;
  width: 100%;
}

.areaContact .tableFormBox select {
  position: relative;
  border: 3px solid #eeeeee;
  height: 48px;
  padding-left: 12px;
  min-width: 250px;
  color: #999999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("../images/arrowSelect.png") no-repeat 95% 50%;
}

.areaContact .tableFormBox textarea {
  border: 3px solid #eeeeee;
  width: 100%;
  max-width: 572px;
  height: 343px;
  padding: 4%;
  font-size: 16px;
  line-height: 1.6;
  color: #999999;
}

.areaContact .submitContact {
  padding: 50px 0 25px;
}

.areaContact .submitContact .btnMain {
  position: relative;
  max-width: 290px;
  height: 64px;
  cursor: pointer;
  background: transparent;
}

.areaContact .submitContact .btnMain:hover {
  background: #62BDF9;
}

.modForm01 {
  width: 100%;
  font-size: .75em;
  color: #006DB8;
}

.modForm01 tr:nth-child(2n+1) {
  background-color: #E9F5FE;
}

.modForm01 tr:nth-child(2n) {
  background-color: #F4FBFF;
}

.modForm01 th {
  padding: 20px 30px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: left;
  width: 32%;
  vertical-align: middle;
  position: relative;
}

.modForm01 th.must::after {
  content: "必須";
  display: block;
  padding: 2px 5px;
  color: #FFF;
  background-color: #C00;
  font-size: .75em;
  position: absolute;
  right: 20px;
  top: 90%;
  margin-top: -0.9em;
  text-shadow: none;
}

.modForm01 td {
  vertical-align: middle;
  padding: 20px 30px 20px 0;
  font-size: 1.4em;
}

input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  -webkit-appearance: none;
  border: #CCC solid 1px;
}

.inputText01 {
  width: 300px;
}

.inputText02 {
  width: 300px;
}

.inputText03 {
  width: 400px;
}

.inputTextZip {
  width: 80px;
}

.inputItem01 {
  margin-left: 20px;
  display: inline-block;
}

.inputItem01:first-child {
  margin-left: 0;
}

select {
  height: 30px;
}

.textArea {
  width: 100%;
  height: 200px;
}

.formBtnBox {
  text-align: center;
  margin-top: 50px;
}

.formBtn {
  font-size: 1.4em;
  background-color: #DC1E37;
  color: #FFF;
  text-decoration: none;
  height: 46px;
  width: 180px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
  outline: none;
}

.formBtn::after {
  content: "";
  display: inline-block;
  background: url(../images/common/icn_arrow01_wt.png) no-repeat center center;
  width: 7px;
  height: 13px;
  margin-left: 10px;
}

.formBtn:hover {
  background-color: #FE1E3B;
}

/* Complete */
.contactCompleteTtl {
  text-align: center;
  margin: 60px 0;
  font-size: 2.4em;
  font-weight: bold;
  color: #FF4364;
}

.contactCompleteInner {
  margin-top: 70px;
  border: #CCC solid 6px;
  padding: 24px;
}

.contactCompleteInnerTtl {
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.contactCompleteBtnBox {
  text-align: center;
  margin-top: 50px;
}

.formLine {
  margin-top: 10px;
}

.formLine:first-child {
  margin-top: 0;
}

.formCont {
  margin-top: 30px;
}

.formCont:first-child {
  margin-top: 0;
}

.formContTtl {
  font-weight: bold;
  font-size: 1.1em;
}

.entryInfoInputTtl {
  display: inline-block;
  width: 8em;
}

.autoAddressBtn {
  display: inline-block;
  margin-left: 10px;
}

.contactBox03 {
  margin-top: 40px;
}

/* confirm */
.mw_wp_form_confirm .modForm01 th.must::after {
  display: none;
}

/* Complete */
.textContact01 {
  text-align: center;
  font-size: 1.6em;
  margin: 50px 0;
  line-height: 2;
}

/*====================================
        footer
=====================================*/
.footer {
  padding: 32px 0 40px 0;
  text-align: center;
  background: #62BDF9;
}

.footer .footerIn {
  display: table;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.footer .logoF {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
}

.footer .logoF img {
  width: 240px;
}

.footer .infoRight {
  vertical-align: middle;
  min-width: 50%;
  text-align: left;
}

.footer .infoFooter {
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

.footer .infoFooter .tel {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 10px;
}

.footer .infoFooter .mail a {
  text-decoration: none;
  color: #fff;
}

.footer .text {
  padding-top: 15px;
  font-size: 14px;
  color: #fff;
}

.footer .text .highlight {
  font-weight: bold;
  font-size: 12px;
  background: #fff;
  color: #62BDF9;
  padding-left: 14px;
}

.footer .text span {
  padding: 6px 10px 4px 2px;
  display: inline-block;
  line-height: 1.6;
}

.footer .note {
  line-height: 1.6;
  padding-top: 3px;
  font-size: 14px;
  color: #fff;
}

/*====================================
        areaBanner
=====================================*/
.areaBanner {
  text-align: center;
}

/*====================================
        pageHead
=====================================*/
.pageHead {
  text-align: center;
  margin-top: 100px;
  margin-top: 80px;
}

.pageHead .headTtl {
  margin: 0 auto;
}

.pageHead .headTtl img {
  vertical-align: middle;
  display: inline-block;
}

/*====================================
        areaText01
=====================================*/
.areaText01 {
  max-width: 860px;
  width: 100%;
  margin: auto;
  line-height: 34px;
  padding: 120px 7% 60px;
  font-size: 18px;
  color: #006db8;
}

.areaText01 p:not(:first-child) {
  padding-top: 30px;
}

/*====================================
        areaListInfo
=====================================*/
.areaListInfo {
  color: #006db8;
  padding: 20px 0;
}

.areaListInfo .titleItems {
  line-height: 1.4;
  font-size: 30px;
  padding-bottom: 20px;
}

.areaListInfo .titleItems a {
  color: #006db8;
}

.areaListInfo .items {
  padding: 60px 0;
  max-width: 860px;
  margin: auto;
}

.areaListInfo .items .avatar {
  float: left;
  padding-left: 10px;
}

.areaListInfo .items .descript {
  text-align: justify;
  padding: 0 0 0 7%;
  max-width: 540px;
  width: 65%;
  float: left;
}

.areaListInfo .items .detail {
  line-height: 34px;
  font-size: 18px;
}

.areaListInfo .items .descriptEnd {
  text-align: justify;
  padding: 0 7%;
  max-width: 760px;
  width: 100%;
  float: left;
  max-width: 100%;
}

.areaListInfo .three_div:before {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.areaListInfo .btnMain {
  clear: both;
  margin-top: 40px;
}

/*====================================
        contentRight
=====================================*/
.contentRight {
  padding: 50px 3% 0 3%;
  height: 100%;
  z-index: 999;
}

.contentRight .titleSection {
  text-align: left;
  font-size: 26px;
  line-height: 1.5em;
  padding-bottom: 16px;
  color: #fff110;
}

.contentRight .navSidebar {
  margin-bottom: 60px;
}

.contentRight .navSidebar li {
  line-height: 44px;
}

.contentRight .navSidebar li a {
  display: block;
  color: #fff;
  font-size: 16px;
}

.contentRight .navSidebar li:hover a {
  color: #fff;
  text-decoration: underline;
}

.contentRight .footer2 {
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 20px;
}

.contentRight .footer2 .info {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.4;
}

.contentRight .footer2 .tel {
  font-size: 14px;
  margin-top: 12px;
}

.contentRight .footer2 .address {
  font-size: 14px;
}

.contentRight .footer2 .mail a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

#mod_article {
  color: #006db8;
  padding: 20px 7%;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}

#mod_article .articleInner {
  margin: 0 auto;
  /*width: 760px;*/
  padding: 60px 0;
}

#mod_article .articleInner .divider {
  margin: 50px 0;
  background: none;
}

/*====================================
            Mod
=====================================*/
h1.m_topicTtl {
  font-size: 32px;
  margin-bottom: 50px;
}

.m_exText {
  font-size: 18px;
  line-height: 34px;
  padding: 3%;
  background: #eee;
  width: 100%;
  margin: 25px 0;
}

.m_articleTxt {
  font-size: 18px;
  line-height: 34px;
  color: #666;
  width: 100%;
  margin-bottom: 50px;
}

.m_articleTxt span {
  background: #ECE953;
}

/* QA */
.m_articleFAQ {
  border: 8px solid #eee;
  padding: 5%;
  width: 100%;
}

.m_articleFAQ p:last-child {
  margin: 0;
}

h3.m_articleQ {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.m_articleQAns {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 50px;
}

.m_pageLnk {
  text-align: center;
  width: 100%;
}

.m_pageLnk a {
  font-size: 16px;
  background: url(../images/article_delta.png) no-repeat left center;
  padding: 13px 36px 12px 26px;
  color: #09F;
  text-decoration: underline;
  margin: 3% 0;
  -moz-background-size: 16px auto;
  -webkit-background-size: 16px auto;
  -o-background-size: 16px auto;
  -ms-background-size: 16px auto;
}

.m_articleChart {
  width: 760px;
  margin: 0 auto;
  border: #CCC 1px solid;
}

.m_articleChart table {
  width: 100%;
}

.m_articleChart tr td {
  border: 1px solid #c9c9c9;
  line-height: 22px;
  padding: 17px 26px;
  width: 33.333%;
  color: #666;
}

.m_articleChart tr td:first-child {
  width: 33.333%;
  background: #eee;
}

.m_articleChart tr td p:not(:last-child) {
  padding-bottom: 30px;
}

h2.m_articleTtl1 {
  font-size: 24px;
  color: #000;
  margin-bottom: 35px;
}

h3.m_articleTtl2 {
  font-size: 20px;
  color: #E60012;
  margin-bottom: 50px;
}

h4.m_articleTtl3 {
  font-size: 18px;
  margin-bottom: 15px;
}

/*-----------------------------------
            For mobile
-----------------------------------*/
@media screen and (min-width: 780px) and (max-width: 870px) {
  /*----- contentRight -----*/
  .contentRight .titleSection {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .contentRight .contentRightIn {
    bottom: 20px;
  }
  .contentRight .navSidebar li {
    line-height: 40px;
  }
  .contentRight .navSidebar li a {
    font-size: 13px;
  }
  .contentRight .footer2 {
    margin: 0 1%;
  }
  .contentRight .footer2 .info {
    font-size: 13px;
  }
  .contentRight .footer2 .address {
    font-size: 13px;
  }
  .contentRight .footer2 .mail a {
    font-size: 13px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
  .areaInfo {
    padding-left: 3%;
    padding-right: 3%;
  }
  .areaTopic {
    padding-left: 3%;
    padding-right: 3%;
  }
  .areaTopic .containerTopic .new {
    left: 0;
    top: -55px;
  }
}

@media screen and (min-width: 781px) and (max-width: 1000px) {
  .titleSection {
    line-height: 1.7em;
    padding: 0.5em 0 .9375em 0;
  }
  .contentLeft {
    float: none;
  }
  /*----- contentRight -----*/
  .areaBanner {
    padding: 0 3%;
  }
  .areaText01 {
    padding: 104px 7% 80px;
  }
  .areaText01 p {
    padding-bottom: 1em;
  }
  .areaText01 p:not(:first-child) {
    padding-top: 0;
  }
  .areaListInfo .titleItems {
    line-height: 1.5em;
  }
  .contentRight {
    padding: 30px 2% 0 2%;
  }
  .contentRight .contentRightIn {
    top: 45px;
  }
  /*----- header -----*/
  .headerMenu .btnToggle {
    display: inline-block;
  }
  .headerMenu .btnToggle img {
    max-width: 70%;
  }
  .headerlogo a {
    display: inline-block;
  }
  .headerlogo a img {
    max-width: 80%;
  }
  /*----- section -----*/
  .areaAbout .listItems {
    padding: 10px;
  }
  .areaAbout .items {
    padding: 94px 5%;
  }
  .areaListAbout .listItems {
    margin: 0;
    text-align: left;
  }
  .areaListInfo .items .descript {
    padding: 0 3% 0 0;
    width: 50%;
  }
  .areaListInfo .first_div {
    margin-left: 7%;
  }
  .contactIntroR {
    float: none;
  }
}

@media screen and (max-width: 1366px) and (min-width: 781px) {
  .navMain {
    display: block !important;
  }
  .contentLeft {
    max-width: 76%;
  }
  .areaListInfo .items .descript {
    max-width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .is_pc_tb {
    display: none;
  }
  .is_mb {
    display: inherit !important;
  }
  .is_pc {
    display: none !important;
  }
  .titleSection {
    font-size: 22.5px;
    line-height: 1.5em;
    padding: 2.5em 0 .9375em 0;
  }
  .btnMain {
    width: 220px;
    font-size: 13px;
  }
  .divider {
    border-top: #D2D2D2 solid 1px;
    margin: 0 auto;
    padding: 6px 0;
    background: #eee;
  }
  .navMain {
    -webkit-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
  }
  /*----------Swap two div before and after----------*/
  .swapTwo {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .swapTwo .first_div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin: 0 auto;
  }
  .swapTwo .second_div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .swapTwo .three_div {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  /*------------------
            headerMenu
    -----------------------------------*/
  .headerMenu {
    position: fixed;
    padding-top: 0px;
    padding-left: 0px;
    height: 65px;
    background: #FFF;
    top: 0;
  }
  .headerMenu .menu-trigger {
    width: 42px;
    height: 36px;
  }
  .headerMenu .menu-trigger span:nth-of-type(2) {
    top: 16px;
  }
  .headerMenu .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
    -ms-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
  }
  .headerMenu .btnToggle {
    position: absolute;
    left: 7px;
    top: 7px;
    background: #fff;
  }
  .headerMenu .btnToggle.active {
    margin-left: 0;
  }
  .logoHeaderMb {
    text-align: center;
  }
  .logoHeaderMb img {
    max-height: 70px;
    margin-bottom: 20px;
  }
  .page--top .headerMenu {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .page--top .headerMenu.active {
    background-color: white;
  }
  .headerlogo {
    margin-bottom: 0;
    margin-top: 0;
  }
  .headerlogo .titleLogo {
    padding-top: 40px;
  }
  .sp_closeMenu {
    position: fixed;
    top: 8px;
    right: 16px;
    z-index: 99999;
    display: block;
  }
  .page--top .sp_closeMenu {
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .page--top .headerMenu.active .sp_closeMenu {
    opacity: 1;
  }
  .sp_closeMenu img {
    width: 48px;
  }
  .pageHead {
    margin-top: 50px;
  }
  .navMain {
    display: none;
    background: transparent;
    border-right: none;
    position: fixed;
    top: 64px;
    overflow-y: auto;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
  }
  .navMain ul {
    height: auto;
  }
  .navMain li:hover {
    background: none;
  }
  .navMain a {
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
    transition: all 0ms;
  }
  .navMain a.icon1 {
    background: url("../images/arrow_nav.png") no-repeat 96% 50% !important;
    color: #006db8;
  }
  .navMain a.icon2 {
    background: #62BDF9 url("../images/arrow_nav_active.png") no-repeat 96% 50% !important;
    color: #FFF110;
  }
  .navMain a.active3 {
    background: #62BDF9 url("../images/arrow_nav.png") no-repeat 96% 50%;
    color: #FFF110;
  }
  .navMain .subNavL3sp {
    display: none;
  }
  .navMain .subNavL3sp li.activeSub a {
    background: #62BDF9 url("../images/arrow_nav.png") no-repeat 96% 50% !important;
    color: #fff110;
  }
  .navMain .subNavL3 {
    background: #62BDF9;
    padding-bottom: 20px;
    position: relative;
    left: 0;
  }
  .navMain .subNavL3 li {
    left: 0;
    top: 0;
    width: 100%;
  }
  .navMain .subNavL3 li a {
    display: block;
    width: 100%;
  }
  .headerMenu .menu-trigger {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .headerMenu .menu-trigger span {
    position: absolute;
    background: #006db8;
    left: 7px;
    width: 36px;
    height: 4px;
    border-radius: 4px;
  }
  .headerMenu .menu-trigger span:nth-of-type(1) {
    top: 10px;
  }
  .headerMenu .menu-trigger span:nth-of-type(2) {
    top: 23px;
  }
  .headerMenu .menu-trigger span:nth-of-type(3) {
    bottom: 10px;
  }
  /* hamberger Tranceform */
  /*------------------
            areaAbout
    -----------------------------------*/
  .areaAbout {
    margin-top: -20px;
  }
  .areaAbout .titleSection {
    padding: 2.5em 0 .9375em 0;
  }
  .areaAbout .listItems {
    padding: 0 3%;
  }
  .areaAbout .items {
    width: 100%;
    padding: 55px 5% 34px;
    border-left: none;
  }
  .areaAbout .items:first-child {
    border-right: none;
    border-bottom: 7px solid #fff;
  }
  .areaAbout .items .avatar {
    text-align: center;
    margin: auto;
  }
  .areaAbout .items .descript {
    padding-bottom: 22px;
  }
  .areaAbout .items .descript p {
    font-size: .875em;
    line-height: 1.75em;
    padding-bottom: 1em;
  }
  /*------------------
            areaInfo
    -----------------------------------*/
  .areaInfo {
    padding: 0px 7.14286% 50px 7.14286%;
  }
  .areaInfo .titleSection {
    padding: 2.5em 0 .9375em 0;
  }
  .areaInfo .descript {
    padding-bottom: 30px;
  }
  .areaInfo .descript p {
    font-size: .875em;
    line-height: 1.75em;
    padding-bottom: 1em;
  }
  .areaInfo .pd_top_40 {
    padding-top: 0;
  }
  /*------------------
            areaTopic
    -----------------------------------*/
  .areaTopic {
    padding: 60px 7.14286% 7%;
    max-width: 100%;
  }
  .areaTopic .containerTopic .new {
    left: -5px;
    top: -35px;
  }
  .areaTopic .containerTopic li:not(:last-child) {
    padding-bottom: 15px;
  }
  .areaTopic .nameTopic {
    width: 100%;
  }
  .areaTopic .linkDetail {
    text-align: center;
    padding-top: 22px;
  }
  .areaTopic .linkDetail a {
    font-size: 12px;
  }
  .areaTopic .btnMain {
    color: #62BDF9;
  }
  .areaTopic .btnMain:hover {
    background: #62BDF9;
    color: #fff110;
  }
  /*------------------
            areaListAbout
    -----------------------------------*/
  .areaListAbout {
    padding: 32px 0 85px;
  }
  .areaListAbout .titleSection {
    font-size: 22.5px;
  }
  .areaListAbout .listItems {
    margin: 0 auto;
    text-align: left;
  }
  .areaListAbout .listItems:not(:first-child) {
    padding-top: 0;
  }
  .areaListAbout .items {
    width: 48%;
    padding: 12px 5px 10px 5px;
    margin: 0;
  }
  .areaListAbout .items:nth-child(odd) {
    padding-left: 10px;
  }
  .areaListAbout .items:nth-child(even) {
    padding-right: 10px;
  }
  /*------------------
            SP_PageHead
    -----------------------------------*/
  .pageHead {
    padding: 0 7%;
  }
  .pageHead .headTtl img:first-child {
    width: 220px;
    margin-bottom: 20px;
  }
  /*------------------
            areaBanner
    -----------------------------------*/
  .areaBanner {
    padding: 0 3%;
  }
  /*------------------
            areaText01
    -----------------------------------*/
  .areaText01 {
    line-height: 1.75em;
    padding: 52px 7.14286% 80px;
  }
  .areaText01 p {
    font-size: .875em;
    line-height: 1.75em;
    padding-bottom: 1em;
  }
  .areaText01 p:not(:first-child) {
    padding-top: 0;
  }
  /*------------------
            areaListInfo
    -----------------------------------*/
  .areaListInfo {
    background: #eee;
    padding: 20px 3.14286%;
  }
  .areaListInfo .titleItems {
    font-size: 21.5px;
    padding: 0.85em 0 .9375em 0;
    line-height: 1.5em;
  }
  .areaListInfo .items {
    padding-bottom: 80px;
    background: #eee;
    padding: 4%;
  }
  .areaListInfo .items .avatar {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .areaListInfo .items .descript {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .areaListInfo .items .detail {
    font-size: 15.5px;
    line-height: 1.75em;
    padding-bottom: 1em;
  }
  .areaListInfo .items .descriptEnd {
    padding: 0;
  }
  /*------------------
            Contact Page
    -----------------------------------*/
  .contactIntroL, .contactIntroR {
    float: none;
    padding: 0;
  }
  .areaContact {
    padding: 0px 7.14286%;
  }
  .areaContact .areaText01 p {
    text-align: center;
  }
  .areaContact *::-webkit-input-placeholder {
    font-size: 12px;
  }
  .areaContact:first-child {
    padding: 20px 7.14286%;
  }
  .areaContact .blockTitle {
    padding: 0;
  }
  .areaContact.mgr_b_110 {
    margin-bottom: 20px !important;
  }
  .areaContact .areaText01 {
    padding: 20px 7% 30px;
  }
  .areaContact .formBox {
    width: 100%;
    padding: 25px 0 30px 0;
  }
  .areaContact .submitContact {
    padding: 0;
  }
  .areaContact .tableFormBox select {
    width: 100%;
    max-width: 400px;
  }
  .areaContact .tableFormBox tr {
    display: block;
    padding-bottom: 20px;
  }
  .areaContact .tableFormBox tr td {
    display: block;
  }
  .areaContact .tableFormBox tr td:first-child {
    padding: 5px 0;
  }
  .areaContact .tableFormBox tr td:last-child {
    padding: 5px 0;
  }
  .areaContact .tableFormBox tr td.must:after {
    top: -34px;
  }
  .areaContact .tableFormBox tr td.must.top:after {
    top: -34px;
  }
  .areaContact .tableFormBox tr td.check:after {
    top: -25px;
  }
  .areaContact .tableFormBox tr td .note2 {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    margin-left: 0;
  }
  .areaContact .tableFormBox .twoCol input {
    width: 55%;
  }
  .modForm01 th {
    padding: 6% 7% 0;
    width: auto;
    display: block;
  }
  .modForm01 td {
    display: block;
    padding: 4% 7% 6%;
    font-size: 1.4em;
    width: auto;
  }
  input[type="text"] {
    padding: 10px;
  }
  .inputText01 {
    width: 100%;
  }
  .inputText02 {
    width: 100%;
  }
  .inputText03 {
    width: 100%;
  }
  .inputTextZip {
    width: 20%;
  }
  .inputItem01 {
    margin-top: 10px;
  }
  .inputItem01:first-child {
    margin-top: 0;
  }
  .radiobtn {
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
  }
  .textArea {
    width: 100%;
    height: 200px;
  }
  .formBtnBox {
    text-align: center;
    margin-top: 20px;
  }
  .formBtn {
    font-size: 1.4em;
  }
  .formBtn:hover {
    opacity: 1;
  }
  /* Complete */
  .textContact01 {
    text-align: left;
    padding: 0 4%;
  }
  /*------------------
            footer
    -----------------------------------*/
  .footer {
    padding: 7%;
  }
  .footer .footerIn {
    display: block;
    text-align: center;
  }
  .footer .infoFooter {
    font-size: 15px;
    max-width: 100%;
  }
  .footer .infoFooter a {
    color: #fff;
  }
  .footer .infoFooter .tel {
    font-size: 20px;
    margin: 6px 0;
  }
  .footer .infoRight {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .footer .logoF {
    display: block;
    width: 100%;
  }
  .footer .logoF img {
    width: 210px;
  }
  .footer .text {
    font-size: 14px;
    padding: 10px 0 0;
  }
  .footer .text .highlight {
    display: block;
    width: 200px;
    font-size: 14px;
    margin: auto;
  }
  .footer .note {
    font-size: 13px;
    padding-top: 0;
  }
  /*------------------
            contentRight
    -----------------------------------*/
  .contentRight {
    width: 100%;
    padding: 0;
    position: static;
    background: #FFF;
  }
  .contentRight .contentRightIn {
    position: relative;
    top: 0;
    bottom: 30px;
  }
  .contentRight .titleSection {
    border-top: 1px solid #d2d2d2;
    padding: 20px 14px 20px 14px;
    font-size: 22.5px;
    line-height: 1.5em;
    background: #FFF;
    color: #006DB8;
  }
  .contentRight .navSidebar {
    border-top: 1px solid #d2d2d2;
    background: #fff;
    margin-bottom: 30px;
  }
  .contentRight .navSidebar:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
  .contentRight .navSidebar li {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
  }
  .contentRight .navSidebar li:last-child {
    border-bottom: none;
  }
  .contentRight .navSidebar li:hover a {
    color: #aaa;
  }
  .contentRight .navSidebar li a {
    padding: 5px 15px;
    color: #333;
  }
  .contentRight .footer2 {
    padding: 30px 0;
    position: relative;
  }
  /*------------------
            Mod
    -----------------------------------*/
  .pd_top_160 {
    padding-top: 0;
  }
  #mod_article {
    width: 100%;
    margin-top: 120px;
    padding: 52px 7.14286% 80px;
  }
  #mod_article .articleInner {
    width: 100%;
    /*padding:0 3.14286%;*/
  }
  h1.m_topicTtl {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .m_exText {
    font-size: 15.5px;
    line-height: 1.75em;
    padding: 5%;
    width: 100%;
    margin: 25px 0;
  }
  .m_articleTxt {
    font-size: 15.5px;
    line-height: 1.75em;
    width: 100%;
    margin-bottom: 50px;
  }
  .m_articleTxt span {
    background: #ECE953;
  }
  /* QA */
  .m_articleFAQ {
    border: none;
    border-top: 8px solid #eee;
    border-bottom: 8px solid #eee;
    padding: 30px 0 30px;
    width: 100%;
  }
  h3.m_articleQ {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  .m_articleFAQ p:last-child {
    margin: 0;
  }
  .m_articleQAns {
    font-size: 15.5px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 50px;
  }
  .m_pageLnk {
    text-align: center;
    width: 100%;
  }
  .m_pageLnk a {
    padding: 13px 20px 12px 24px;
  }
  .m_articleChart {
    width: 100%;
    margin: 0 auto;
    border: #CCC 1px solid;
  }
  .m_articleChart table {
    width: 100%;
  }
  .m_articleChart tr td {
    border: 1px solid #c9c9c9;
    line-height: 1.75em;
    padding: 6px 10px;
    width: 33.333%;
  }
  .m_articleChart tr td:first-child {
    width: 33.333%;
  }
  .m_articleChart tr td p:not(:last-child) {
    padding-bottom: 30px;
  }
  h2.m_articleTtl1 {
    font-size: 20px;
    margin-bottom: 35px;
  }
  h3.m_articleTtl2 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  h4.m_articleTtl3 {
    font-size: 15.5px;
    margin-bottom: 15px;
  }
  /*------------------
            helper
    -----------------------------------*/
  .pb_45_mb {
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .areaListAbout .items {
    float: left;
    width: 33.3333333%;
  }
  .areaContact {
    margin: 0 3%;
  }
  .areaContact .blockTitle {
    padding: 0;
  }
  .areaContact.mgr_b_110 {
    margin-bottom: 60px !important;
  }
  .areaContact .areaText01 {
    padding: 20px 12% 30px;
  }
  .areaContact .formBox {
    width: 100%;
    padding: 25px 0 20px 0;
  }
  .areaContact .submitContact {
    padding: 30px 0;
  }
  .areaContact .tableFormBox select {
    width: 100%;
    max-width: 420px;
  }
  .areaContact .tableFormBox input {
    max-width: 420px;
  }
  .areaContact .tableFormBox textarea {
    max-width: 420px;
  }
  .areaContact .tableFormBox tr {
    padding-bottom: 20px;
  }
  .areaContact .tableFormBox tr td:first-child {
    padding: 5px 0;
  }
  .areaContact .tableFormBox tr td:last-child {
    padding: 5px 0;
  }
  .areaContact .tableFormBox tr td.must:after {
    right: 2%;
    top: 15px;
  }
  .areaContact .tableFormBox tr td.must.top:after {
    right: 2%;
    top: 15px;
  }
  .areaContact .tableFormBox tr td.check:after {
    right: 5%;
    top: 18px;
  }
  .areaContact .tableFormBox tr td .note2 {
    padding: 12px 15px 11px 15px;
    font-size: 14px;
    margin-left: 0;
  }
  .areaContact .tableFormBox .twoCol input {
    width: 60%;
  }
}
